.row-1 {
    height: 500px;
    display: flex;
    margin: auto;
    padding: 25px;
    font-family:serif;
    text-align: center;
}
.contaier h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.row-1  h2{
    text-align: center;
    font-family:serif;
}

.row-1 .colunm-1{
    height: 100%;
    width: 60%;
    margin: 20px;
    display: flex;
}
.row-1 .colunm-1 .videotrailer{
    height: 80%;
    width: 50%;
    margin: 10px;
}
.row-1 .colunm-2 .videotrailer{
    height: 50%;
    margin: 10px;
}
.row-1 .colunm-2{
    height: 100%;
    width: 40%;
    margin: 20px;
}
.row-1 .colunm-2{
    display: flex;
    height: 100%;
    width: 40%;
    margin: 20px;
}
.row-1 .colunm-2 h2{
   font-size: 24px;
}

.row-2 {
    height: 700px;
    margin: auto;
    padding: 25px;
    font-family:serif;
    text-align: center;
}
.row-2 .list-movie{
    height: 400px;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
}