/* forgot password form */

.fg_pass{
    text-align: center;
}

.fg_pass .fg_row{
    padding: 10px;
    margin: 5px;
}
.fg_pass .fg_row button{
    background:black;
    color: white;
}

.fg_pass .fg_row input{
    margin: 10px;
}

/* Login form */

.login-form{
    width: 30vw;
    margin: auto;
}

/* register form */
.register-form {
    width: 40%;
    margin: auto;
}
.register-form h2{
    color:white;
    letter-spacing: 3px;
}

/* Profile page*/
.recent-activity{
    margin-left: 10px;
    border: solid 2px #0b1413;
    background: white;
    margin-top: 10px;
}
.profile .recent-activity Card{
    height: 100px;
}

.profile {
   min-width: max-content;
   margin: 100px;
}

.profile .card {
    width: 350px;
    border: none;
}

.profile .card .banner{
    width: 300px;
    height:150px;
    background-size: cover;
    border-radius: 4px;
}

.profile .card .avatar{
    width: 100px;
    height: 100px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.profile .infor {
    transform: translateY(-60px);
}
.avatar img{
    
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.card .avatar span{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    background: #fff8;
    text-align: center;
    font-weight: 400;
    color:blue;
    transition: 0.3 ease-in-out;
    text-transform: uppercase;
}

.card .avatar:hover span{
    bottom: 0;
}

.card .avatar #file_up{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.profile label{
    display: block;
    text-transform:initial;
}
